@import url('https://fonts.googleapis.com/css?family=Oswald|Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
cores principais 
cor: #f09b1a laranja(seila)
cor: #000 (preto)
cor: #fff (branco)
*/
* {box-sizing: border-box;word-break: break-all;font-family: 'Oswald';font-size: 100%;margin: 0;padding: 0;}
.categorias-box{
    position: absolute;
    width: 100%;
   
}
.categorias-box > ul{
    list-style: none;
}
.categorias-box > ul > li > a{

    text-align: center;
}
.categoria-text{
    display: block;
    color: #fff;
    text-align: center;
   
}
.categoria-text:hover{
    color: #f09b1a;
    text-decoration: none;
}

.box-link{
    display: block;
    color: #fff;
    font-size: 16px;
}
.box-link:hover{
    color: #f09b1a;
    text-decoration: none;
}
.cormoda{color: #000;}

.nav-menu{
    color: #FFF;
    background-color: #000;
    width: 100%;
    height: 60px;
    max-height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu{
    list-style: none;
}
.menu-item{
    display: inline-flex;
    padding: 5px;
    position: relative;
    justify-content: center;

}
.menu-link{
    color: #fff;
    padding-bottom: 0px;
}
#logo{
    padding-bottom: 0;
}
.menu-link:hover{
    text-decoration: none;
    color: #fff0b8;
}
.menu-item> .logo{
  position: relative;
  display: block;
}
.btn-primary-custom{
    background-color: #0000;
    border: none;
    border-radius: 0;
    height: 100%;
}
.btn-primary-custom:hover{
    background-color: #166192;
}
/* MENU PARA MOBILE*/

.wrapper{
    width: 600px;
    margin: auto;
}

.logo{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla';
    font-size: 45px;
    position: relative;
    display: block;

}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 15px;

}
.product{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product img{
    width: 100%;
}

footer{
    background-color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 60px;
    list-style: none;
}

footer a{
    color: #ffffff;
}

footer a:hover{
    text-decoration: none;
    color: #6E6E6E;
}
.icons{
    display: none;
    position: relative;
    text-align: center;

}

.menu-mobil{
    display: none;
}
.icon{
    display: inline-block;
    position: absolute;
    right: 2%;
    height: 100%;
}
.icon-login{
    text-decoration: none;
    color: #fff;
}
/***********************************
    Estilo do menu de categorias
************************************/
.navbar-custom{
    min-height: 20px;
    border: none;
    margin: 0;
}
.link{

    text-align: center;
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a{

    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: inline-block;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
   
}
.nav-custom{
    width: 100%;
} 
.linha-nav{
    width: 25%;
  
}

.fixed-menu {
   position:fixed;
   z-index:9999;
}
/*******************
    Estilo do linha
********************/
.dois:hover ~ hr {
    margin-left: 16.6%;
}
.tres:hover ~ hr {
    margin-left: 33.2%;
}
.quatro:hover ~ hr {
    margin-left: 49.8%;
}
.cinco:hover ~ hr {
    margin-left: 66.4%;
}
.six:hover ~ hr {
    margin-left: 83%;
}
hr {
    position: relative;
    height: .20rem;
    width: 16.6%;
    margin: 0;
    background: #f09b1a;
    border: none;
    transition: .3s ease-in-out;
}
/*tela de login scc*/
.title{
    display: block;
    height: auto;
    position: relative;
    background-color: #000;
}

.campo1{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
} .form-box{
    width: 33%;
    height: auto;
    float: left;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
}
.legenda{
    padding: 10px;
    border-bottom: solid 2px #000;
}
.icons-socials:hover{
    zoom: 110%;
}
.input-form{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px 10px 20px;
}
.linha{
    width: 100%;
    height: 4px;
    background: #fff;
}
.nav-footer{
    background-color: #2b2b2b;
    color: #fff;
    font-size: 0.9em;
}
.col-footer{
    width: 33%;
    float: left;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}
.col-footer ul{
    list-style: none;
}
.col-footer ul li{
    padding: 10px;
}
.col-footer ul li a{
    color: #fff;
}
.faq-back{
    background-color: #000 !important;
    color: #fff !important;
}
.faq-body{
    background-color: #fff;
    color: #000;
}
.form-login{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.vip-product{
    margin-top: 30px;
    position: relative;
}
.sobre{
    height: auto;
}
.titulo-sobre{
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-style: italic;
    font-family: 'roboto',sans-serif;
    border-bottom: solid 1px #999;
    border-top: solid 1px #999;
}
.sobre-text{
    font-family: 'roboto',sans-serif;
    font-family: 12px;
    margin-bottom: 30px;
}
.cupom{
    background: #ddddddd1;
}
@media(max-width: 768px){
    .col-footer{
        float: none;
        width: 100%;
        text-align: center;
    }
    .icons{
        display: block;
        cursor: pointer;
        padding-bottom: 10px;
    }
    .icon{
        display: flex;
        position: absolute;
        top: 27px;
        justify-content: center;
        align-items: center;

    }
    .nav-menu{
        
        
        width: 100%;
        height: auto;
        margin-bottom: 2.5%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-mobil{
        margin: 0;
        padding: 0;
        display: block;
        list-style: none;
        text-align: center;
    }
    .menu-item-mobil{
        display: none;
        border-bottom: 2px solid #fff;
        padding: 20px;

    }
    .mostra{
        display: block;
    }
    .menu{
        display: none;
    }
    .form-box{
        width: 100%;
        height: auto;
        float: none;
    }


}
@media(min-width: 768px) and (max-width: 1000px){
    .coluna1, .coluna2, .coluna3{
        width: 100%;
    }
    .form-box{
        width: 100%;
        height: auto;
        float: none;
    }

}
